<h3 style="color:#06485F;">Hello {{name}},</h3>

<p style="font-size:15px; color:#333;">
  Your password was successfully updated.
  If this was you, no further action is required.
</p>

<p style="font-size:15px; color:#333; margin-top:20px;">
  If you <strong>did not</strong> make this change, please reset your password immediately to secure your account.
</p>


<p style="font-size:13px; color:#666; margin-top:30px;">
  If you believe someone accessed your account without permission, 
  contact our support team immediately.
</p>
